{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en"><!-- sherad by mllatweb.com -->
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="ThemeStarz">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
    <link rel="stylesheet" href="{% static 'moeinsite/assets/bootstrap/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'moeinsite/assets/font-awesome/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'moeinsite/assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'moeinsite/assets/css/odometer-theme-default.css' %}">
    <link rel="stylesheet" href="{% static 'moeinsite/assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'moeinsite/assets/css/style.css' %}">
	{% for information in info %}
        {% if information %}
            <title>{{ information.title }}</title>
        {% else %}
            <title>Mohammadmoein Pisodeh Official</title>
        {% endif %}
    {% endfor %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
</head>
<body data-spy="scroll" data-target=".navbar" class="has-loading-screen">
    <div class="ts-page-wrapper" id="page-top">
        <!--NAVIGATION ******************************************************************************************-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white">
            <div class="container">
                <a class="navbar-brand ts-push-down__50 position-absolute ts-bottom__0 bg-white pb-0 ts-z-index__1 ts-scroll" href="#page-top">
                    <img src="{% static 'moeinsite/assets/img/musiclogo.jpg' %}" alt="">
                </a>
                <!--end navbar-brand-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--end navbar-toggler-->
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav d-block d-lg-flex ml-auto text-right">
                        <a class="nav-item nav-link active ts-scroll" href="#page-top">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link ts-scroll" href="#my-services">Musics</a>
                        <a class="nav-item nav-link ts-scroll" href="#about-me">About Me</a>
                        <a class="nav-item nav-link ts-scroll" href="#my-skills">My Bio</a>
                        <a class="nav-item nav-link ts-scroll" href="#portfolio">Profile</a>
                        <a class="nav-item nav-link ts-scroll" href="#testimonials">Me</a>
                        <a class="nav-item nav-link ts-scroll mr-2" href="#form-contact">Contact</a>
                    </div>
                    <!--end navbar-nav-->
                </div>
                <!--end collapse-->
            </div>
            <!--end container-->
        </nav>
        <!--end navbar-->
        <!--*********************************************************************************************************-->
        <!--************ HERO ***************************************************************************************-->
        <!--*********************************************************************************************************-->
        <div id="ts-hero" class="ts-animate-hero-items">

            <!--HERO CONTENT ****************************************************************************************-->
            <div class="container position-relative h-100 ts-align__vertical">
                <div class="row w-100">
                    <div class="col-md-8">
                        <!--SOCIAL ICONS-->
                        <figure class="ts-social-icons mb-4">
                            <a href="https://www.facebook.com/mmoeinp" class="mr-3">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="https://twitter.com/mmoeinp" class="mr-3">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="https://www.instagram.com/mmoeinp" class="mr-3">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </figure>

                        <!--TITLE -->
                        {% for infor in info %}
                            {% if infor.artist %}
                                <h1>{{ infor.artist }}</h1>
                                <h1 class="ts-bubble-border">
                            {% else %}
                                <h1>I am Mohammadmoein Pisodeh</h1>
                                <h1 class="ts-bubble-border">
                            {% endif %}
                        {% endfor %}
                            <span class="ts-title-rotate">
                                <span class="active">Artist</span>
                                <span>Musician</span>
                            </span>
                        </h1>

                    </div>
                    <!--end col-md-8-->
                </div>
                <!--end row-->
                <a href="#my-services" class="ts-btn-effect position-absolute ts-bottom__0 ts-left__0 ts-scroll ml-3 mb-3">
                    <span class="ts-visible ts-circle__sm rounded-0 ts-bg-primary">
                        <i class="fa fa-arrow-down text-white"></i>
                    </span>
                    <span class="ts-hidden ts-circle__sm rounded-0">
                        <i class="fa fa-arrow-down text-white"></i>
                    </span>
                </a>

            </div>
            <!--end container-->
            <!--END HERO CONTENT ************************************************************************************-->

            <!--HERO BACKGROUND *************************************************************************************-->
            <div class="ts-background">
                <div class="ts-background-image" data-bg-image="{% static 'moeinsite/assets/img/background.jpg' %}"></div>
            </div>
            <!--END HERO BACKGROUND *********************************************************************************-->

        </div>
        <!--end #hero-->

        <!--*********************************************************************************************************-->
        <!--************ CONTENT ************************************************************************************-->
        <!--*********************************************************************************************************-->
        <main id="ts-content">

            <!--MY SERVICES ***********************************************************************************-->
            <section id="my-services" class="ts-block ts-xs-text-center pb-0">
                <div class="container">
                    <div class="ts-title text-center">
                        <h2>My Musics</h2>
                    </div>
                    <!--end ts-title-->
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-xl-4">
                            <div class="ts-item" data-animate="ts-fadeInUp">
                                <div class="ts-item-content">
                                    <div class="ts-item-header">
                                        <figure class="icon">
                                            <img src="{% static 'moeinsite/assets/img/onlyme.jpeg' %}" alt="">
                                        </figure>
                                        <!--end icon-->
                                    </div>
                                    <!--end ts-item-header-->
                                    <div class="ts-item-body">
                                    {% for music in musics %}
                                        {% if music.music1 %}
                                            <h4>{{ music.music1 }}</h4>
                                            <p class="mb-0">
                                                Available on Spotify , iTunes , Applemusic , YoutubeMusic.
                                            </p>
                                        {% else %}
                                            <h4>Onlyme</h4>
                                            <p class="mb-0">
                                                Available on Spotify , iTunes , Applemusic , YoutubeMusic.
                                            </p>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                    <!--end ts-item-body-->
                                    <div class="ts-item-footer">
                                        <a href="#" data-toggle="modal" data-target="#modal" class="ts-link-arrow-effect">
                                            <span>Read More</span>
                                        </a>
                                    </div>
                                    <!--end ts-item-footer-->
                                </div>
                                <!--end ts-item-content-->
                            </div>
                            <!--end ts-item-->
                        </div>
                        <!--end col-xl-4-->
                        <div class="col-sm-6 col-md-4 col-xl-4">
                            <div class="ts-item" data-animate="ts-fadeInUp" data-delay=".1s">
                                <div class="ts-item-content">
                                    <div class="ts-item-header">
                                        <figure class="icon">
                                            <img src="{% static 'moeinsite/assets/img/withrain.jpeg' %}" alt="">
                                        </figure>
                                        <!--end icon-->
                                    </div>
                                    <!--end ts-item-header-->
                                    <div class="ts-item-body">
                                        {% for music in musics %}
                                            {% if music.music2 %}
                                                <h4>{{ music.music2 }}</h4>
                                                <p class="mb-0">
                                                    Available on Spotify , iTunes , Applemusic , YoutubeMusic.
                                                </p>
                                            {% else %}
                                                <h4>Withrain</h4>
                                                <p class="mb-0">
                                                    Available on Spotify , iTunes , Applemusic , YoutubeMusic.
                                                </p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <!--end ts-item-body-->
                                    <div class="ts-item-footer">
                                        <a href="#" data-toggle="modal" data-target="#modal" class="ts-link-arrow-effect">
                                            <span>Read More</span>
                                        </a>
                                    </div>
                                    <!--end ts-item-footer-->
                                </div>
                                <!--end ts-item-content-->
                            </div>
                            <!--end ts-item-->
                        </div>
                        <!--end col-xl-4-->
                        <div class="col-sm-6 col-md-4 col-xl-4">
                            <div class="ts-item" data-animate="ts-fadeInUp" data-delay=".2s">
                                <div class="ts-item-content">
                                    <div class="ts-item-header">
                                        <figure class="icon">
                                            <img src="{% static 'moeinsite/assets/img/lovelife.jpeg' %}" alt="">
                                        </figure>
                                        <!--end icon-->
                                    </div>
                                    <!--end ts-item-header-->
                                    <div class="ts-item-body">
                                        {% for music in musics %}
                                            {% if music.music3 %}
                                                <h4>{{ music.music3 }}</h4>
                                                <p class="mb-0">
                                                    Available on Spotify , iTunes , Applemusic , YoutubeMusic.
                                                </p>
                                            {% else %}
                                                <h4>Lovelife</h4>
                                                <p class="mb-0">
                                                    Available on Spotify , iTunes , Applemusic , YoutubeMusic.
                                                </p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <!--end ts-item-body-->
                                    <div class="ts-item-footer">
                                        <a href="#" data-toggle="modal" data-target="#modal" class="ts-link-arrow-effect">
                                            <span>Read More</span>
                                        </a>
                                    </div>
                                    <!--end ts-item-footer-->
                                </div>
                                <!--end ts-item-content-->
                            </div>
                            <!--end ts-item-->
                        </div>
                        <!--end col-xl-4-->
                        <div class="col-sm-6 col-md-4 col-xl-4">
                            <div class="ts-item" data-animate="ts-fadeInUp" data-delay=".3s">
                                <div class="ts-item-content">
                                    <div class="ts-item-header">
                                        <figure class="icon">
                                            <img src="{% static 'moeinsite/assets/img/spacedreams.jpeg' %}" alt="">
                                        </figure>
                                        <!--end icon-->
                                    </div>
                                    <!--end ts-item-header-->
                                    <div class="ts-item-body">
                                        {% for music in musics %}
                                            {% if music.music4 %}
                                                <h4>{{ music.music4 }}</h4>
                                                <p class="mb-0">
                                                    Available on Spotify , iTunes , Applemusic , YoutubeMusic.
                                                </p>
                                            {% else %}
                                                <h4>Spacedreams</h4>
                                                <p class="mb-0">
                                                    Available on Spotify , iTunes , Applemusic , YoutubeMusic.
                                                </p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <!--end ts-item-body-->
                                    <div class="ts-item-footer">
                                        <a href="#" data-toggle="modal" data-target="#modal" class="ts-link-arrow-effect">
                                            <span>Read More</span>
                                        </a>
                                    </div>
                                    <!--end ts-item-footer-->
                                </div>
                                <!--end ts-item-content-->
                            </div>
                            <!--end ts-item-->
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </section>
            <!--END MY SERVICES *************************************************************************************-->

            <section id="about-me" class="ts-block pb-4">
                <div class="container">
                    <div class="ts-title text-center">
                        <h2>About Me</h2>
                    </div>
                    <!--end ts-title-->
                    <div class="row ts-align__vertical">
                        <div class="col-md-6">
                            <img src="{% static 'moeinsite/assets/img/musician.jpeg' %}" alt="" class="mw-100 mb-5">
                        </div>
                        <div class="col-md-6">
                            <h4 class="ts-bubble-border">Hi There</h4>
                            {% for information in info %}
                                {% if information.aboutme %}
                                    <p>
                                        {{ information.aboutme }}
                                    </p>
                                {% else %}
                                    <p>
                                        Hello my name is Mohammadmoein Pisodeh. This is my Official website , Thanks for follow and listen my Musics. Follow me in social medias.
                                        Wrote by 
                                    </p>
                                {% endif %}
                            {% endfor %}
                            <dl class="ts-column-count-2">
                                {% for inforamtion in info %}
                                    <dt>Name:</dt>
                                    {% if information.artist %}
                                        <dd>{{ inforamtion.artist }}</dd>
                                    {% else %}
                                        <dd>Mohammadmoein Pisodeh</dd>
                                    {% endif %}
                                    <dt>Phone:</dt>
                                    {% if information.phomenumber %}
                                        <dd>{{ information.phonenumber }}</dd>
                                    {% else %}
                                        <dd>Unavailable for now</dd>
                                    {% endif %}
                                    <dt>Email:</dt>
                                    {% if information.email %}
                                        <dd>{{ information.email }}</dd>
                                    {% else %}
                                        <dd>Unavailable for now</dd>
                                    {% endif %}
                                    <dt>Twitter:</dt>
                                    {% if information.twitter %}
                                        <dd>{{ information.twitter }}</dd>
                                    {% else %}
                                        <dd>Unavailable for now</dd>
                                    {% endif %}
                                {% endfor %}
                            </dl>
                            <hr class="ts-hr-light mb-5">
                            <a href="#contact" class="ts-btn-effect mr-2">
                                <span class="ts-visible btn btn-primary ts-btn-arrow">Contact Me</span>
                                <span class="ts-hidden btn btn-primary ts-btn-arrow" data-bg-color="#d44729">Contact Me</span>
                            </a>
                        </div>
                    </div>
                    <!--end row-->
                </div>
            </section>

            <section class="ts-block">
                <div class="container">
                    <div class="text-center px-5 pt-5 position-relative">
                        <h3 class="my-3">
                            Let’s Contact Me Fans!
                        </h3>
                        <a href="#contact" class="btn btn-primary mr-2 ts-push-down__50 ts-has-talk-arrow">Hire Me Now!</a>
                        <div class="ts-background ts-opacity__20" data-bg-image="{% static 'moeinsite/assets/img/bg-keyboard.jpg' %}"></div>
                    </div>
                </div>
            </section>

            <section id="my-skills" class="ts-block pb-5">
                <div class="container">
                    <div class="ts-title text-center">
                        <h2>My bio</h2>
                    </div>
                    <!--end ts-title-->
                    <h4>Every Day is a  New Challenge</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                In id nulla magna. Nullam posuere fermentum mattis. Nunc id dui at sapien faucibus fermentum
                                ut vel diam. Nullam tempus, nunc id efficitur sagittis, urna est ultricies eros, ac porta
                                sem turpis quis leo. Nulla in feugiat elit.
                            </p>
                            <p>
                                Phasellus accumsan scelerisque dolor, quis mattis justo bibendum non. Nulla sollicitudin
                                turpis in enim elementum varius. Vestibulum ante ipsum primis in faucibus orci luctus
                                et ultrices posuere cubilia Curae
                            </p>
                            <a href="#contact" class="btn btn-outline-light mb-5">Contact Me</a>
                        </div>
                        <!--end col-md-6-->
                        <div class="col-md-6">
                            <div class="progress" data-progress-width="100%">
                                <h5 class="ts-progress-title">Artist</h5>
                                <figure class="ts-progress-value"></figure>
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <!--end progress-->
                            <div class="progress" data-progress-width="100%">
                                <h5 class="ts-progress-title">Music</h5>
                                <figure class="ts-progress-value"></figure>
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!--end col-md-6-->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </section>

            <section class="ts-block pb-5" id="portfolio">
                <div class="container">
                    <div class="ts-title">
                        <h2>Profile</h2>
                    </div>
                    <!--end ts-title-->
                    <div class="card-columns ts-gallery ts-column-count-4">
                        <a href="{% static 'moeinsite/assets/img/moeinmusic.png' %}" class="card ts-gallery__item popup-image" data-animate="ts-fadeInUp">
                            <div class="ts-gallery__item-description">
                                <h6 class="ts-opacity__50">Artist</h6>
                                <h4>Mohammadmoein</h4>
                            </div>
                            <img src="{% static 'moeinsite/assets/img/moeinmusic.png' %}" class="card-img" alt="">
                            <!--end ts-gallery__image-->
                        </a>
                    </div>
                    <!--end ts-gallery-->
                </div>
                <!--end container-->
            </section>
            <!--end portfolio-->

            <section id="testimonials" class="ts-block text-center pb-5">
                <div class="container">
                    <div class="ts-title">
                        <h2>Me</h2>
                    </div>
                    <!--end ts-title-->
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <div class="owl-carousel" data-owl-dots="1" data-owl-loop="1" data-animate="ts-fadeInUp">
                                <div class="slide mb-5">
                                    <figure class="d-inline-block p-3 ts-bg-primary text-white ts-has-talk-arrow">
                                        <i class="fa fa-quote-right"></i>
                                    </figure>
                                    {% for inforamtion in info %}
                                        {% if information.aboutmetwo %}
                                            <p class="ts-h5">
                                                {{ information.aboutmetwo }}
                                            </p>
                                        {% else %}
                                            <p class="ts-h5">
                                                {{ inforamtion.aboutme }}
                                            </p>
                                        {% endif %}
                                        {% if information.artist %}
                                            <div class="ts-circle__lg mb-3" data-bg-image="{% static 'moeinsite/assets/img/me.jpg' %}"></div>
                                            <h5>{{ information.artist }}</h5>
                                            <h6 class="ts-opacity__40">Artist</h6>
                                        {% else %}
                                            <div class="ts-circle__lg mb-3" data-bg-image="{% static 'moeinsite/assets/img/me.jpg' %}"></div>
                                            <h5>Mohammadmoein Pisodeh</h5>
                                            <h6 class="ts-opacity__40">Artist</h6>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <!--end slide-->
                            </div>
                            <!--end owl-carousel-->
                        </div>
                        <!--end col-md-8-->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </section>
            <!--end #testimonials ts-block-->
        </main>
        <!--end #content-->

        <!--*********************************************************************************************************-->
        <!--************ FOOTER *************************************************************************************-->
        <!--*********************************************************************************************************-->
        <footer id="ts-footer" class="mt-5">

            <section id="contact" class="ts-block ts-separate-bg-element" data-bg-image="{% static 'moeinsite/assets/img/bg-man-wall.jpg' %}" data-bg-image-opacity=".1">
                <div class="container">
                    <div class="ts-title text-center">
                        <h2 class="ts-bubble-border">Get In Touch</h2>
                    </div>
                    <div class="row ts-xs-text-center ">
                        <div class="col-sm-6 col-md-3 mb-4" data-animate="ts-fadeInUp">
                            <h5>Address</h5>
                            <div class="ts-opacity__50">
                                <figure class="mb-0">United States</figure>
                                <figure>NewYork</figure>
                            </div>
                            <!--end ts-opacity__50-->
                        </div>
                        <!--end col-md-3-->
                        <div class="col-sm-6 col-md-3 mb-4" data-animate="ts-fadeInUp" data-delay=".1s">
                            <h5>Phone</h5>
                            <div class="ts-opacity__50">
                                {% for inforamtion in info %}
                                    {% if inforamtion.phonenumber %}
                                        <figure class="mb-0">{{ inforamtion.phonenumber }}</figure>
                                    {% else %}
                                        <p>Unavailable for now</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <!--end ts-opacity__50-->
                        </div>
                        <!--end col-md-3-->
                        <div class="col-sm-6 col-md-3 mb-4" data-animate="ts-fadeInUp" data-delay=".2s">
                            <h5>Email</h5>
                            <div class="ts-opacity__50">
                                {% for inforamtion in info %}
                                    {% if information.email %}
                                        <figure class="mb-0">{{ inforamtion.email }}</figure>
                                    {% else %}
                                        <p>Unavailable for now</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <!--end ts-opacity__50-->
                        </div>
                        <!--end col-md-3-->
                        <div class="col-sm-6 col-md-3 mb-4" data-animate="ts-fadeInUp" data-delay=".3s">
                            <h5>Facebook Chat</h5>
                            <div class="ts-opacity__50">
                                {% for information in info %}
                                    {% if information.facebookchat %}
                                        <figure class="mb-0">{{ information.facebookchat }}</figure>
                                    {% else %}
                                        <p>Unavailable for now</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <!--end ts-opacity__50-->
                        </div>
                        <!--end col-md-3-->
                    </div>
                    <!--end row-->

                    <div class="pt-5">
                        <div class="row">
                            <div class="col-md-4">
                                <h3>Let’s Connect</h3>
                                <div class="ts-column-count-sm-2">
                                    <a href="https://www.facebook.com/mmoeinp" class="mb-3 d-flex text-white ts-align__vertical">
                                    <span class="ts-circle__xs border border-white ts-border-light mr-4">
                                        <i class="fab fa-facebook-f"></i>
                                    </span>
                                        <span>Facebook</span>
                                    </a>
                                    <!--end link-->
                                    <a href="https://twitter.com/mmoeinp" class="mb-3 d-flex text-white ts-align__vertical">
                                    <span class="ts-circle__xs border border-white ts-border-light mr-4">
                                        <i class="fab fa-twitter"></i>
                                    </span>
                                        <span>Twitter</span>
                                    </a>
                                    <!--end link-->
                                    <a href="https://www.instagram.com/mmoeinp" class="mb-3 d-flex text-white ts-align__vertical">
                                    <span class="ts-circle__xs border border-white ts-border-light mr-4">
                                        <i class="fab fa-instagram"></i>
                                    </span>
                                        <span>Instagram</span>
                                    </a>
                                    <!--end link-->
                                    <a href="https://t.me/mmoeinpchannel" class="mb-3 d-flex text-white ts-align__vertical">
                                    <span class="ts-circle__xs border border-white ts-border-light mr-4">
                                        <i class="fab fa-telegram"></i>
                                    </span>
                                        <span>Telegram</span>
                                    </a>
                                    <!--end link-->
                                    <a href="https://open.spotify.com/artist/5hyfUZZX7DaYzOUHFpyvQh" class="mb-3 d-flex text-white ts-align__vertical">
                                    <span class="ts-circle__xs border border-white ts-border-light mr-4">
                                        <i class="fab fa-spotify"></i>
                                    </span>
                                        <span>Spotify</span>
                                    </a>
                                    <!--end link-->
                                </div>
                            </div>
                            <!--end col-md-4-->
                            <div class="col-md-8">
                                <h3>Send Me a Message</h3>
                                <form id="form-contact" method="post">
                                    {% csrf_token %}
                                        {{ form|crispy }}
                                        <button type="submit" class="btn btn-primary float-right ts-btn-arrow">Send a Message</button>
                                </form>
                                <!--end form-contact -->
                            </div>
                        </div>
                        <!--end row-->
                    </div>
                </div>
                <!--end container-->
            </section>
            <!--end #contact-->

            <div class="text-dark bg-white">
                <div class="container py-3 position-relative">
                    <small>© 2021 <a href="#">Team<a/>, All Rights Reserved</small>
                    <a href="#page-top" class="ts-circle__xs rounded-0 bg-dark position-absolute ts-right__0 ts-top__0 ts-push-up__50 ts-scroll">
                        <i class="fa fa-arrow-up text-white"></i>
                    </a>
                </div>
            </div>

        </footer>
        <!--end #footer-->

    </div>
    <!--end page-->

    <!-- Modal -->
    <div class="modal fade text-dark" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content border-0 rounded-0">
                <div class="modal-header bg-light px-5 pt-0 pb-5">
                    <div class="ts-title mb-0">
                        <figure class="ts-circle__md bg-dark rounded-0">
                            <img src="{% static 'moeinsite/assets/img/musics.jpg' %}" alt="">
                        </figure>
                        <h4 class="mb-0">Musics info</h4>
                    </div>

                    <button type="button" class="close position-absolute ts-top__0 ts-right__0 m-2" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-5">
                    <h5 class="mb-4">My accounts</h5>
                    <div class="owl-carousel" data-owl-dots="1">
                        <div class="slide">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="{% static 'moeinsite//img/img-work-detail-01.jpg" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <h4 class="mb-3">My Musics</h4>
                                        <p>
                                            Available on Spotify , iTunes , Applemusic , YoutubeMusic.
                                        </p>
                                        <a href="#" class="mb-4 text-dark d-block">
                                            <i class="fa fa-globe ts-opacity__50 mr-2"></i>
                                            Spotify
                                        </a>
                                        <hr>
                                        <h6>My Account In Social Medias</h6>
                                        <ul class="list-unstyled ts-opacity__50">
                                            <a href="https://www.instagram.com/mmoeinp"><li class="fab fa-instagram"></li></a>
                                            <a href="https://www.facebook.com/mmoeinp"><li class="fab fa-facebook-f"></li></a>
                                            <a href="https://open.spotify.com/artist/5hyfUZZX7DaYzOUHFpyvQh"><li class="fab fa-spotify"></li></a>
                                            <a href="https://twitter.com/mmoeinp"><li class="fab fa-twitter"></li></a>
                                            <a href="https://t.me/mmoeinpchannel"><li class="fab fa-telegram"></li></a>
                                        </ul>
                                    </div>
                                    <!--end col-md-8-->
                                </div>
                                <!--end row-->
                            </div>
                            <!--end container-fluid-->
                        </div>
                        <!--end slide-->
                    </div>
                    <!--end owl-carousel-->
                </div>
                <!--end modal-body-->
            </div>
            <!--end modal-content-->
        </div>
        <!--end modal-dialog-->
    </div>
    <!--end modal-->

	<script src="{% static 'moeinsite/assets/js/custom.hero.js' %}"></script>
	<script src="{% static 'moeinsite/assets/js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'moeinsite/assets/js/popper.min.js' %}"></script>
	<script src="{% static 'moeinsite/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'moeinsite/assets/js/imagesloaded.pkgd.min.js' %}"></script>
	<script src="{% static 'moeinsite/assets/js/isInViewport.jquery.js' %}"></script>
	<script src="{% static 'moeinsite/assets/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'moeinsite/assets/js/scrolla.jquery.min.js' %}"></script>
	<script src="{% static 'moeinsite/assets/js/jquery.validate.min.js' %}"></script>
	<script src="{% static 'moeinsite/assets/js/jquery-validate.bootstrap-tooltip.min.js' %}"></script>
	<script src="{% static 'moeinsite/assets/js/odometer.min.js' %}"></script>
	<script src="{% static 'moeinsite/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'moeinsite/assets/js/custom.js' %}"></script>

</body>
</html>
